.LandButton{
    background-color: rgba(242, 141, 53, 1);
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    height: 33px;
    font-weight: bold;
    width: 220px;
}