.FooterLogo{
    height: 20%;
    margin-right: 73%;
    margin-bottom: 1%;
}

.FooterLogoText{
    text-align: left;
    margin-right: 25%;
}

.list-unstyled .custom-list-item a {
    text-align: left !important;
    text-decoration: none !important;
  }